body  {
	
    background: #0C4E20;
    

}
.controls {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 100;
}
#base, #multiplier, #theme  {
  width: 150px;
  margin-left: 110px;
}

label {
color: #FFF; 
}
/*.input-cl{
    display: inline-block;
}*/
.state-cl{
    display: inline-block;
}
.download { 
  background: #333; 
  color: #FFF; 
  font-weight: 900; 
  border: 2px solid #B10000; 
  padding: 4px; 
  margin:4px;
}
